<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WSQRCode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>002C19B91D9B98D30096283F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>002C19D51D9B98D30096283F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>002C19E01D9B98D30096283F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
